<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<td th:each="address : ${addresses}">-->
<!--    <a th:href="@{'/address/' + ${address.code}}" th:text="${address.name}"></a> <br><br>-->
<!--</td>-->

<td th:each="address : ${addresses}">
    <form action="#" th:action="@{'/image'}" method="post" th:object="${address}">
        <input type="hidden" name="lng" th:value="${address.lng}">
        <input type="hidden" name="lat" th:value="${address.lat}">
        <input type="submit" th:value="${address.name}+'('+${address.addr}+')'">
    </form>
</td>

<!--<a th:href="@{'/address/' + ${address.code}}" th:each="address : ${addresses}" th:text="${address.name}">hello</a>-->
</body>
</html>